@import "../../styles/variables.scss";

.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-direction: column;
  padding-top: 3rem;
  padding-bottom: 10rem;
  background-color: lighten($pry-1, 15%);

  p {
    font-weight: thin;
    font-size: 3rem;
  }

  div {
    position: relative;
    width: 20rem;
    height: 20rem;

    img {
      object-fit: contain;
    }
  }
}
