@import "../../styles/variables.scss";

.Button {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  display: inline-block;
  margin-top: 1rem;
  font-size: 2rem;
  transition: 300ms;
  border: none;
  font-weight: 500;
  width: max-content;
  letter-spacing: 2px;

  &.pry {
    color: white;
    background-color: $sec;

    &:hover {
      background-color: $pry-2;
      color: $sec;
    }
  }
  &.small {
    font-size: 95%;
    font-weight: 400;
  }
  &.sec {
    color: $sec;
    background-color: $pry-2;
  }

  &.Disabled {
    cursor: not-allowed;
    background-color: darkgray;
    color: whitesmoke;

    &:hover {
      cursor: not-allowed;
      background-color: darkgray;
      color: whitesmoke;
      border: 2px solid $neutral;
    }
  }
}
