@import "../../styles/variables.scss";

.Container {
  // padding-bottom: 10rem;  // put back in
  // margin-bottom: -2px; // remove

  @media screen and (max-width: 600px) {
    gap: 1rem;
    padding: 0;
    // padding-bottom: 3rem;
  }

  h3 {
    margin-bottom: 6rem;
  }

  .Speakers {
    background-color: $sec-2;
    padding: 15rem 1rem 10rem 1rem;

    .Inner {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3rem;
      justify-content: center;
      background-color: $sec-2;
      margin: auto;

      @media screen and (max-width: 850px) {
        max-width: 50rem;
        flex-wrap: wrap;
      }
      @media screen and (max-width: 600px) {
        flex-direction: column;
        gap: 6rem;
      }
    }
  }
}

.Modal {
  background: white;
  padding: 2rem;
}
