@import "../../../styles/variables.scss";

.Outside {
  width: 100vw;
  background-color: $sec-2;
  padding: 1rem;
  padding-bottom: 8rem;
}

.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 5rem;
  margin-bottom: 7rem;
  overflow: hidden;
  position: relative;

  @media screen and (max-width: 550px) {
    margin-bottom: 0rem;
  }

  .Inner {
    display: flex;
    gap: 3.5rem;
    overflow: hidden;

    @media screen and (max-width: 500px) {
      gap: 2.5rem;
    }
  }

  .Box {
    display: block;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 10rem;
    line-height: 1.2;
    position: relative;
    border-radius: 2rem;
    background-color: $pry-2;
    color: black;

    @media screen and (max-width: 550px) {
      width: 7rem;
      height: 7rem;
      border-radius: 1rem;
      font-size: 60%;
    }

    &:last-of-type {
      &::after,
      &::before {
        content: "";
        display: none;
      }
    }

    &::after,
    &::before {
      content: "";
      width: 0.9rem;
      height: 0.9rem;
      border-radius: 50%;
      background-color: $pry-1;
      position: absolute;
      right: -2.3rem;

      @media screen and (max-width: 550px) {
        width: 0.7rem;
        height: 0.7rem;
      }

      @media screen and (max-width: 500px) {
        right: -2rem;
      }
    }
    &::before {
      top: 3.1rem;

      @media screen and (max-width: 550px) {
        top: 2.5rem;
      }
    }
    &::after {
      bottom: 3.6rem;

      @media screen and (max-width: 550px) {
        bottom: 2rem;
      }
    }

    p {
      font-size: 1.2rem;
    }
  }

  h6 {
    font-weight: 700;
    font-size: 5.7rem;

    @media screen and (max-width: 550px) {
      font-size: 3.5rem;
    }
  }
}

.Lead {
  margin-top: 5rem;
  color: $pry-1;
  text-align: center;

  @media screen and (max-width: 600px) {
    font-size: 2rem;
  }
}
