.Container {
  width: 100%;
  min-height: 60vh;

  .Banner {
    position: relative;

    // shows desktop background and Hides  mobile
    @media screen and (min-width: 771px) {
      .BG2 {
        display: none;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
      }
      .BG1 {
        display: block;
        visibility: visible;
        opacity: 1;
        pointer-events: all;
      }
    }

    // Hides desktop background and shows mobile
    @media screen and (max-width: 770px) {
      .BG1 {
        display: none;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
      }

      .BG2 {
        display: block;
        visibility: visible;
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  .Img {
    position: relative;
    height: 100vh;

    @media screen and (max-width: 770px) {
      height: 90vh;
      // margin-top: -2rem;

      // img {
      //   object-fit: contain;
      // }
    }
  }

  .Btn {
    position: absolute;
    bottom: 2rem;
    display: none;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;

    @media screen and (max-width: 770px) {
      display: block;
      left: 50%;
      transform: translateX(-50%);
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }
}
