.Container {
  width: 100%;
  min-height: 70vh;

  .Banner {
    position: relative;
    background-image: url("/images/bg-landscape.webp");
    max-width: 100vw;
    height: min-content;
    background-size: cover;
    min-height: 45vh;
    padding: 3rem;

    // @media screen and (max-width: 600px) {
    //   // min-height: 60vh;
    // }
  }

  .Inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
  }

  .Text,
  .Logo {
    position: relative;
    height: 20rem;

    img {
      object-fit: contain;
    }
  }

  .Address {
    text-align: center;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
  }

  .Logo {
    width: 20rem;
  }
  .Text {
    width: 32rem;
    margin-top: -7rem;

    @media screen and (max-width: 600px) {
      width: 22rem;
    }

    @media screen and (max-width: 400px) {
      width: 18rem;
    }
  }

  h4 {
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  .Date {
    margin-top: -5rem;
    font-weight: 400;

    @media screen and (max-width: 600px) {
      margin-top: -4rem;
    }

    @media screen and (max-width: 400px) {
      margin-top: -7rem;
    }
  }

  .Speakers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -3rem;
    padding: 0 2rem;

    @media screen and (max-width: 770px) {
      display: none;
      visibility: hidden;
      pointer-events: none;
    }

    ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem;
      line-height: 0.7;
      font-size: 1.4rem;
    }
  }

  // .Btn {
  //   position: absolute;
  //   display: none;
  //   pointer-events: none;
  //   opacity: 0;
  //   visibility: hidden;

  //   @media screen and (max-width: 770px) {
  //     display: block;
  //     left: 50%;
  //     transform: translateX(-50%);
  //     opacity: 1;
  //     visibility: visible;
  //     pointer-events: all;
  //     bottom: 4rem;
  //   }

  //   @media screen and (max-width: 600px) {
  //     bottom: 2rem;
  //   }
  // }
}
